services:
  nginx:
    env_file:
      - .env
    image: mobidevpublisher/nginx:1.21.3
    restart: on-failure
    environment:
      NGINX_PREDEFINED_TEMPLATE: "laravel.conf.template"
      NGINX_SERVER_NAME: "localhost"
      NGINX_PORT: 8080
      NGINX_ROOT: /var/www/app/public
      PHP_HOST: php
      PHP_PORT: 9000
    working_dir: /var/www/app/
    volumes:
      - ".:/var/www/app/"
    networks:
      - local
    depends_on:
      - php
    ports:
      - "8080:8080"
    expose:
      - "8080"

  redis:
    image: redis:7.4-alpine
    restart: always
    volumes:
      - "redisdata:/data"
    networks:
      - local

  php:
    env_file:
      - .env
    working_dir: /var/www/app/
    build:
      context: .
      dockerfile: Dockerfile.php
    image: laravel-labs-php-pcntl:8.3
    restart: on-failure
    environment:
      PHP_ENABLED_EXTENSIONS: "amqp apcu sodium redis zip pdo_pgsql gd gmp"
      PHP_ALLOW_URL_FOPEN: "On"
      PHP_MAX_EXECUTION_TIME: 60
      PHP_MAX_INPUT_TIME: 60
      PHP_MEMORY_LIMIT: "128M"
      PHP_POST_MAX_SIZE: "120M"
      PHP_UPLOAD_MAX_FILESIZE: "100M"
      PHP_SHORT_OPEN_TAG: "On"
      PHP_DISPLAY_ERRORS: "On"
      PHP_DISPLAY_STARTUP_ERRORS: "On"
    volumes:
      - ".:/var/www/app/"
    networks:
      - local

  websocket:
    env_file:
      - .env
    working_dir: /var/www/app/
    build:
      context: .
      dockerfile: Dockerfile.php
    image: laravel-labs-php-pcntl:8.3
    restart: on-failure
    environment:
      PHP_ENABLED_EXTENSIONS: "amqp apcu sodium redis zip pdo_pgsql gd gmp"
      PHP_ALLOW_URL_FOPEN: "On"
      PHP_MAX_EXECUTION_TIME: 60
      PHP_MAX_INPUT_TIME: 60
      PHP_MEMORY_LIMIT: "128M"
      PHP_POST_MAX_SIZE: "120M"
      PHP_UPLOAD_MAX_FILESIZE: "100M"
      PHP_SHORT_OPEN_TAG: "On"
      PHP_DISPLAY_ERRORS: "On"
      PHP_DISPLAY_STARTUP_ERRORS: "On"
    command: php artisan reverb:start --debug
    ports:
      - "8090:8090"
    volumes:
      - ".:/var/www/app/"
    networks:
      - local

  queue-worker:
    env_file:
      - .env
    working_dir: /var/www/app/
    build:
      context: .
      dockerfile: Dockerfile.php
    image: laravel-labs-php-pcntl:8.3
    restart: on-failure
    environment:
      PHP_ENABLED_EXTENSIONS: "amqp apcu sodium redis zip pdo_pgsql gd gmp"
      PHP_ALLOW_URL_FOPEN: "On"
      PHP_MAX_EXECUTION_TIME: 60
      PHP_MAX_INPUT_TIME: 60
      PHP_MEMORY_LIMIT: "128M"
      PHP_POST_MAX_SIZE: "120M"
      PHP_UPLOAD_MAX_FILESIZE: "100M"
      PHP_SHORT_OPEN_TAG: "On"
      PHP_DISPLAY_ERRORS: "On"
      PHP_DISPLAY_STARTUP_ERRORS: "On"
    command: php artisan queue:work --sleep=3 --tries=3 --timeout=60
    volumes:
      - ".:/var/www/app/"
    networks:
      - local

  scheduler:
    env_file:
      - .env
    working_dir: /var/www/app/
    build:
      context: .
      dockerfile: Dockerfile.php
    image: laravel-labs-php-pcntl:8.3
    restart: on-failure
    environment:
      PHP_ENABLED_EXTENSIONS: "amqp apcu sodium redis zip pdo_pgsql gd gmp"
      PHP_ALLOW_URL_FOPEN: "On"
      PHP_MAX_EXECUTION_TIME: 60
      PHP_MAX_INPUT_TIME: 60
      PHP_MEMORY_LIMIT: "128M"
      PHP_POST_MAX_SIZE: "120M"
      PHP_UPLOAD_MAX_FILESIZE: "100M"
      PHP_SHORT_OPEN_TAG: "On"
      PHP_DISPLAY_ERRORS: "On"
      PHP_DISPLAY_STARTUP_ERRORS: "On"
    command: php artisan schedule:work
    volumes:
      - ".:/var/www/app/"
    depends_on:
      - php
      - postgres
      - redis
    networks:
      - local

  postgres:
    env_file:
      - .env
    image: postgres:13.2
    restart: on-failure
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - "laraveldbdata:/var/lib/postgresql/data"
    networks:
      - local

  adminer:
    image: adminer:4.8.1
    restart: always
    environment:
      ADMINER_DESIGN: nette
    ports:
      - 8084:8080
    networks:
      - local

networks:
  local:
    name: local

volumes:
  appdata:
    driver: local
  laraveldbdata:
    driver: local
  redisdata:
    driver: local
